<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row bg-dark text-white py-2">
        <div class="col mr-auto">
            <span class="font-weight-bold" sec:authentication="name"></span>
            <span> with roles: </span>
<!--            <span sec:authentication="principal.authorities"></span>-->
            <th:block th:each="role : ${userLogin.getRoles()}">
                <span th:text="${role.getRole().replace('ROLE_', '')}"></span><span> </span>
            </th:block>
        </div>
        <div class="col-auto"><a class="text-decoration-none text-white-50" th:href="@{/logout}" th:text="Logout"></a></div>
    </div>
    <div class="row">
        <div class="col-2 px-0">
            <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" aria-selected="true" th:href="@{/admin}" th:text="Admin" sec:authorize="hasRole('ROLE_ADMIN')"></a>
                <a class="nav-link" aria-selected="false" th:href="@{/user}" th:text="User" sec:authorize="hasRole('ROLE_USER')"></a>
            </div>
        </div>
        <div class="col-10 bg-light px-4 pb-4 min-vh-100">
            <p class="h1 my-3 ml-2">Admin panel</p>
            <ul class="ml-2 nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="ml-2 tab-content bg-light" id="myTabContent">
                <div class="tab-pane fade show active border rounded" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="py-3 pl-3 border-bottom">
                        <p class="h5 mb-0">All users</p>
                    </div>
                    <div class="px-3 py-3 bg-white">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="main-body-table">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade border rounded" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="py-3 pl-3 border-bottom">
                        <p class="h5 mb-0">Add new user</p>
                    </div>
                    <div class="px-3 py-3 bg-white">
                        <div class="container">
                            <div class="row">
                                <div class="col-4 offset-4">
                                    <form>
                                        <div class="form-group">
                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="firstName-add">First name</label>
                                            <input class="form-control" type="text" name="firstName" id="firstName-add" placeholder="First name"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="lastName-add">Last name</label>
                                            <input class="form-control" type="text" name="lastName" id="lastName-add" placeholder="Last name"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="age-add">Age</label>
                                            <input class="form-control" type="number" name="age" id="age-add" placeholder="Age"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="email-add">Email</label>
                                            <input class="form-control" type="email" name="email" id="email-add" placeholder="Email"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="password-add">Password</label>
                                            <input class="form-control" type="password" name="password" id="password-add" placeholder="Password"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="listRoles-add">Role</label>
                                            <select multiple class="form-control custom-select" name="roles" id="listRoles-add" size="2">
                                                <th:block th:each="role : ${listRole}">
                                                    <option th:text="${role.getRole().replace('ROLE_', '')}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input id="button-add" class="btn btn-success btn-lg" type="submit" value="Add new user"/>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="id-edit">ID</label>
                                    <input class="form-control" type="text" name="id" value="id-test" id="id-edit" placeholder="ID" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="firstName-edit">First name</label>
                                    <input class="form-control" type="text" name="firstName" value="firstName-test" id="firstName-edit" placeholder="First name"/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="lastName-edit">Last name</label>
                                    <input class="form-control" type="text" name="lastName" value="lastName-test" id="lastName-edit" placeholder="Last name"/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="age-edit">Age</label>
                                    <input class="form-control" type="number" name="age" value="111" id="age-edit" placeholder="Age"/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="email-edit">Email</label>
                                    <input class="form-control" type="email" name="email" value="email-test" id="email-edit" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="password-edit">Password</label>
                                    <input class="form-control" type="password" name="password" value="" id="password-edit"/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="listRoles-edit">Role</label>
                                    <select multiple class="form-control custom-select" name="roles" id="listRoles-edit" size="2">
                                        <th:block th:each="role : ${listRole}">
                                            <option th:id="${role.getRole().replace('ROLE_', '')}" th:text="${role.getRole().replace('ROLE_', '')}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="button-edit" type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="id-delete">ID</label>
                                    <input class="form-control" type="text" name="id" value="id-test" id="id-delete" placeholder="ID" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="firstName-delete">First name</label>
                                    <input class="form-control" type="text" name="firstName" value="firstName-test" id="firstName-delete" placeholder="First name" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="lastName-delete">Last name</label>
                                    <input class="form-control" type="text" name="lastName" value="lastName-test" id="lastName-delete" placeholder="Last name" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="age-delete">Age</label>
                                    <input class="form-control" type="number" name="age" value="111" id="age-delete" placeholder="Age" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="email-delete">Email</label>
                                    <input class="form-control" type="email" name="email" value="email-test" id="email-delete" placeholder="Email" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-center font-weight-bold mb-0" for="listRoles-delete">Role</label>
                                    <select multiple class="form-control custom-select" name="roles" id="listRoles-delete" size="2" readonly>
                                        <th:block th:each="role : ${listRole}">
                                            <option th:id="${role.getRole().replace('ROLE_', '')}" th:text="${role.getRole().replace('ROLE_', '')}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="button-delete" type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/script.js" ></script>
</body>
</html>