<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Новый пользватель</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<form th:method="post" th:action="@{/users}" th:object="${user}">
    <label for="login">Введите логин</label>
    <input type="text" th:field="*{login}" id="login"/><br/>
    <label for="password">Введите пароль</label>
    <input type="text" th:field="*{password}" id="password"/><br/>
    <label for="firstName">Введите имя</label>
    <input type="text" th:field="*{firstName}" id="firstName"/><br/>
    <label for="lastName">Введите фамилию</label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br/>
    <label for="email">Введите е-мэйл</label>
    <input type="text" th:field="*{email}" id="email"/><br/>
    <label for="age">Введите возраст</label>
    <input type="text" th:field="*{age}" id="age"/><br/>

    <label for="listRoles">Выберите права</label>
    <div id="listRoles">
        <ul>
            <li th:each="role : ${listRole}">
                <input type="checkbox" name="rolesId" th:value="${role.getId()}">
                <label th:text="${role.getTitle()}"></label>
            </li>
        </ul>
    </div>



    <input type="submit" value="Добавить пользователя"/>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>