<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row bg-dark text-white py-2">
        <div class="col mr-auto">
            <span class="font-weight-bold" th:text="${user.getEmail()}"></span>
            <span> with roles: </span>
            <th:block th:each="role : ${user.getRoles()}">
                <span th:text="${role.getRole().replace('ROLE_', '')}"></span><span> </span>
            </th:block>
        </div>
        <div class="col-auto"><a class="text-decoration-none text-white-50" th:href="@{/logout}" th:text="Logout"></a></div>
    </div>
    <div class="row">
        <div class="col-2 px-0">
            <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" aria-selected="false" th:href="@{/admin}" th:text="Admin" th:hidden="${!isAdmin}"></a>
                <a class="nav-link active" aria-selected="true" th:href="@{/user}" th:text="User" th:hidden="${!isUser}"></a>
            </div>
        </div>
        <div class="col-10 bg-light px-4 min-vh-100">
<!--            <p class="h1">Admin panel</p>-->
            <p class="h1 my-3 ml-2">User information-page</p>
<!--            <ul class="nav nav-tabs" id="myTab" role="tablist">-->

<!--            <ul class="ml-2 nav nav-tabs" id="myTab" role="tablist">-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>-->
<!--                </li>-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New User</a>-->
<!--                </li>-->
<!--            </ul>-->

<!--            <div class="tab-content bg-light" id="myTabContent">-->
            <div class="ml-2 bg-light">
<!--            <div class="ml-2 tab-content bg-light" id="myTabContent">-->
                <div class="border rounded">
<!--                <div class="tab-pane fade show active border rounded" id="home" role="tabpanel" aria-labelledby="home-tab">-->
                    <div class="py-3 pl-3 border-bottom">
                        <p class="h5 mb-0">About user</p>
                    </div>
                    <div class="px-3 py-3 bg-white">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div th:text="${user.getId()}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${user.getFirstName()}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${user.getLastName()}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${user.getAge()}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${user.getEmail()}"></div>
                                    </td>
                                    <td>
                                        <th:block th:each="role : ${user.getRoles()}">
                                            <span th:text="${role.getRole().replace('ROLE_', '')}"></span><span> </span>
                                        </th:block>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

<!--                <div class="tab-pane fade border rounded" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
<!--                    <div class="py-3 pl-3 border-bottom">-->
<!--                        <p class="h5 mb-0">Add new user</p>-->
<!--                    </div>-->
<!--                    <div class="px-3 py-3 bg-white">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 offset-4">-->
<!--                                    <form th:method="post" th:action="@{/admin}" th:object="${newUser}">-->
<!--            &lt;!&ndash;                        <form th:method="post" th:action="@{/admin}" th:object="${user}">&ndash;&gt;-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="firstName">First name</label>-->
<!--                                            <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First name"/>-->
<!--            &lt;!&ndash;                            <input type="text" th:field="*{firstName}" id="firstName"/><br/>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="lastName">Last name</label>-->
<!--                                            <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last name"/>-->
<!--            &lt;!&ndash;                            <input type="text" th:field="*{lastName}" id="lastName"/><br/>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="age">Age</label>-->
<!--                                            <input class="form-control" type="number" th:field="*{age}" id="age" placeholder="Age"/>-->
<!--            &lt;!&ndash;                            <input type="text" th:field="*{age}" id="age"/><br/>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="email">Email</label>-->
<!--                                            <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Email"/>-->
<!--            &lt;!&ndash;                            <input type="text" th:field="*{email}" id="email"/><br/>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="password">Password</label>-->
<!--                                            <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="Password"/>-->
<!--            &lt;!&ndash;                            <input type="text" th:field="*{password}" id="password"/><br/>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="d-flex justify-content-center font-weight-bold mb-0" for="listRoles">Role</label>-->
<!--                                            <select multiple class="form-control custom-select" name="rolesId" id="listRoles" size="2">-->
<!--&lt;!&ndash;                                                <option>ADMIN</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <option>USER</option>&ndash;&gt;-->
<!--                                                <th:block th:each="role : ${listRole}">-->
<!--                                                    <option th:value="${role.getId()}" th:text="${role.getRole().replace('ROLE_', '')}"></option>-->
<!--&lt;!&ndash;                                                    <option th:id="${role.getId()}" th:value="${role.getTitle()}"/>                                                    &ndash;&gt;-->
<!--                                                </th:block>-->
<!--                                            </select>-->
<!--                                        </div>-->

<!--&lt;!&ndash;                                        <th:block th:each="role : ${listRole}">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option name="rolesId" th:id="${role.getId()}" th:value="${role.getTitle()}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </th:block>&ndash;&gt;-->

<!--            &lt;!&ndash;                                <ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li th:each="role : ${listRole}">&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <input type="checkbox" name="rolesId" th:value="${role.getId()}">&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <label th:text="${role.getTitle()}"></label>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--                                        <div class="d-flex justify-content-center">-->
<!--                                            <input class="btn btn-success btn-lg" type="submit" value="Add new user"/>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>